@import url('https://fonts.googleapis.com/css2? família= Rajdhani:wght@700 & display=swap');

h1 {
  color: #ec183f;
  font-family: 'Rajdhani', sans-serif;
};

h2 {
  font-family: 'Rajdhani', sans-serif;
};
